# Large dataset, audio, and document files
*.wav
*.mp3
*.zip
*.egg
*.tar.gz
*.csv

# Exclude specific files exceeding 100MB limit
*Connected Vehicle.pptx

# Python cache & Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE / System / Tool files
.vscode/
.idea/
.DS_Store
.bkit/
