# Large dataset, audio, and network packet files
*.wav
*.mp3
*.egg
*.tar.gz
*.pcap
*.pcapng

# Exclude massive raw zip files exceeding GitHub 100MB limit
NonVPN-PCAPs-01.zip
VPN-PCAPS-01.zip
*Connected Vehicle.pptx

# Temporary office files
~$*

# Python cache & Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE / System / Tool files
.vscode/
.idea/
.DS_Store
.bkit/
.castra/
.gastra/
